server:
  port: 8084

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        auto-startup: true
        missing-queues-fatal: false
        retry:
          enabled: true
          initial-interval: 2000ms
          max-attempts: 5
    publisher-confirm-type: correlated
    publisher-returns: true
    template:
      mandatory: true
    
  application:
    name: carts-service
  
  main: 
    allow-bean-definition-overriding: true

  sql:
    init:
      mode: always
      platform: postgresql
      schema-locations: classpath:schema.sql

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/cartsdb
    username: postgres
    password: postgres

app:
  rabbitmq:
    exchange: store.events
    user-created-queue: user.created.queue.carts
    user-deactivated-queue: user.deactivated.queue
    user-activated-queue: user.activated.queue
    order-confirmed-queue: order.confirmed.queue
    stock-reserved-queue: stock.reserved.queue 
    order-created-queue: order.created.queue


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: false
    hostname: localhost
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
    metadata-map:
      instanceId: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

logging:
  level:
    org.springframework.amqp.rabbit.listener: DEBUG
    org.springframework.amqp.rabbit.core: DEBUG

