server:
  port: 8081

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    publisher-returns: true              
    publisher-confirm-type: correlated   
    template:
      mandatory: true                    

  application:
    name: user-service

  sql:
    init:
      mode: always
      platform: postgresql
      schema-locations: classpath:schema.sql

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/usersdb
    username: postgres
    password: postgres

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: false
    hostname: localhost
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
    metadata-map:
      instanceId: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

logging:
  level:
    org.springframework.amqp: DEBUG
    org.springframework.amqp.rabbit.core.RabbitTemplate: DEBUG
    org.springframework.amqp.rabbit.connection.CachingConnectionFactory: DEBUG
    com.store.users_microservice.infrastructure.adapters.out.rabbitmq: DEBUG
    com.store.users_microservice: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui