server:
  port: 8088

spring:
  profiles:
    active: dev
  
  application:
    name: notifications-service
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  main:
    web-application-type: reactive
    allow-bean-definition-overriding: true

app:
  rabbitmq:
    queues:
      order-created: order.created.queue.notifications
      order-confirmed: order.confirmed.queue
      payment-failed: payment-failed-queue
      order-shipped: order.shipped.queue
      order-delivered: order.delivered.queue
      user-created: user.created.queue.inventory

  brevo:
    api-key: "${SENDINBLUE_API_KEY}"
    sender-email: rikbarahona@gmail.com
    sender-name: Arka Store

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    hostname: localhost
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
    metadata-map:
      instanceId: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

logging:
  level:
    root: INFO
    com.store.notifications_microservice: DEBUG
    org.springframework.amqp: INFO
    org.springframework.web: INFO
    org.springframework.amqp.rabbit: DEBUG
    org.springframework.amqp.rabbit.listener: INFO

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui