server:
  port: 8082

spring:
  application:
    name: product-service

  sql:
    init:
      mode: always
      platform: postgresql
      schema-locations: classpath:schema.sql

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/productsdb
    username: postgres
    password: postgres

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: false
    hostname: localhost
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
    metadata-map:
      instanceId: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
logging:
  level:
    com.store: DEBUG